.Agancy-brand{
    margin-top: 3rem;
}
.first-line{
    height: .8rem;
    width: 150px;
    background-color: #333333;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding: 0;
}
.first-text{
    background-color: #7f44c0;
}
.readmore-bottom, .third-readm{
    background-color: #7f44c0;
}