.b-text:hover{
    text-decoration: none;
}
.w-text:hover{
    text-decoration: none;
}
.w-readm{
    width: 90px;
    margin-left: 20px;
}
.readmore-bottom, .third-readm{
    background-color: #7f44c0;
}
.coffee-img{
    max-width: 100%;
    height: 597px;
    object-fit: cover;
}
.company-slogan{
    margin-top: -60px;
}