.teamwork{
    background-color: #f2f2f2;
}
.happy-girl{
    height: 697px;
    width: 100%;
    object-fit: cover;
}
@media only screen and (min-width:760px){
    .teamwork{
        margin-top: -50px;
    }
}
.readmore-bottom, .third-readm{
    background-color: #7f44c0;
}